<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>New Racket!</h1>
    <form action="/cars" method="POST">
    <input type="text" name="name" value="New Racket(Brand Family Model)">
    <button type="submit">Save Racket</button>
    </form>
</body>
</html>